server { # Hello_World
  listen       {{ nginx_port_http }};
  root         '{{ html_dir }}/hello_world';

#  location ~ \.php$ {
#    include snippets/fastcgi-php.conf;
#    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
#  }

}
server { # Hello_World
  listen       {{ nginx_port_https }} ssl;
  root         '{{ html_dir }}/hello_world';
  ssl_certificate     '{{ nginx_root }}/certs/certificate.crt';
  ssl_certificate_key '{{ nginx_root }}/certs/privateKey.key';
  ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers         HIGH:!aNULL:!MD5;
}
